/* CSS Document */
p.resultat_ajoue_resto
{
	margin:auto;
	font-weight: bold;
	text-align:center;
	font-size: 36px;
	margin-top:200px;
	color:#FF3333;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	border:2px solid #000000;
	padding:10px;
	width: 700px;
}

body
{
	background:url(../images/restaurant/uber-eats-720x720.jpg);

}